# **1. 단순 선형 회귀 분석**
- 전복의 나이를 예측하는 선형회귀모델을 생성하세요.
- 전복의 ‘성별’, ‘키’, ‘지름’, ‘높이’, ‘전체무게’, ‘몸통무게’, ‘내장무게’, ‘껍질무게’를 이용해 ‘껍질의 고리 수’를 예측한 뒤, **예측된 ‘껍질의 고리 수’에 1.5를 더하면 전복의 나이**가 됩니다.

In [1]:
# 기본 모듈 불러오기
import numpy as np
import pandas as pd

**1) 데이터 load 및 변형**

In [4]:
# 데이터 로드
data = pd.read_csv("abalone.csv")
data.head()
print(data.shape)

# 성별 M은 Male, F는 Female, I는 Infant 이므로 따로 열 만들기
for label in "MFI":
    data[label] = data["Sex"] == label
data.drop('Sex', axis=1, inplace=True)

(4177, 9)

**2) X, y 선택**
: y는 Rings열, X는 Rings열을 제외한 나머지를 선택하되 전부 실수가 되도록 한다.

In [6]:
# X,y 데이터 선택
y = data.Rings

X = data.drop(columns=['Rings'], axis=1).astype('float')

 **3) train/test set 분리**

In [9]:
# 필요한 모듈 불러오기
from sklearn.model_selection import train_test_split

In [14]:
# train과 test set 분리 (train:test = 7:3 비율로)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

**4) 선형회귀모델 생성, 모델 예측치 구하기**

In [11]:
#필요한 모듈 불러오기
from sklearn.linear_model import LinearRegression

In [49]:
#선형회귀모델 생성 및 훈련
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

LinearRegression()

In [50]:
# 모델 예측치 구하기
preds = lr_model.predict(X_test)
# 모델 예측치를 활용해 최종적으로 전복의 나이를 예측
age = preds + 1.5

In [51]:
age

array([15.703125  ,  9.80273438, 11.35546875, ...,  8.9609375 ,
       11.19726562, 11.50195312])

**5) 모델 평가: MSE, RMSE, R2 score, corr 구하기**

In [18]:
#필요한 모듈 불러오기
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import r2_score

- MSE, RMSE

In [52]:
#mse, rmse
mse = mean_squared_error(y_test+1.5, age)
rmse = np.sqrt(mse)
print(f"MSE : {mse}, RMSE : {rmse}")

MSE : 5.20997261278557, RMSE : 2.282536442816537

- R2 score

In [54]:
#R2 score 측정
r2 = r2_score(y_test+1.5, age)
print(f"R2 score : {r2}")

R2 score : 0.4736071751095533

- 회귀 절편값

In [28]:
#회귀 절편 값
print(lr_model.intercept_)

-12301736136267.08

- 회귀 계수 값

In [29]:
#회귀 계수 값
print(lr_model.coef_)

[ 1.00284980e-01  7.55787548e+00  2.36278060e+01  8.22958513e+00
 -1.88117294e+01 -1.05723154e+01  8.59566684e+00  1.23017361e+13
  1.23017361e+13  1.23017361e+13]

- 상관계수

Hint: corr 함수 이용.

In [53]:
# 상관계수 구하기

# np.corrcoef(y_test, y_pred)[0, 1]
pd.DataFrame([y_test+1.5, age]).T.corr()

              Rings  Unnamed 0
Rings      1.000000  -0.076109
Unnamed 0 -0.076109   1.000000

# **2. Polynomial features**

In [30]:
# PolynomialFeatures 라이브러리 호출
from sklearn.preprocessing import PolynomialFeatures

In [31]:
# 임의 데이터 생성

X = np.arange(6).reshape(3, 2)

df =  pd.DataFrame(X)
df.columns = ['x_1','x_2']
df

   x_1  x_2
0    0    1
1    2    3
2    4    5

In [32]:
# 차원은 2로 설정
poly = PolynomialFeatures(2)
# fit_transform 메소드를 통해 데이터 변환
poly_X = poly.fit_transform(X)
# PolynomialFeatures로 변환 된 데이터를 데이터 프레임 형태로 변환
poly_df = pd.DataFrame(poly_X)

In [37]:
# df_poly의 컬럼을 1,x1,x2,x1^2,x1*x2,x2^2 로 변경
poly_df.rename(columns={0:"1", 1:"x1", 2:"x2", 3:"x1*x2", 4:"x1*x2", 5:"x2^2"}, inplace=True)
poly_df.head(3)

     1   x1   x2  x1*x2  x1*x2  x2^2
0  1.0  0.0  1.0    0.0    0.0   1.0
1  1.0  2.0  3.0    4.0    6.0   9.0
2  1.0  4.0  5.0   16.0   20.0  25.0